language: python
python:
    - "2.6"
    - "2.7"
    - "3.2"
    - "3.3"
    - "3.4"
    - "3.5"
    - "pypy"
install:
    - "pip install flake8"
script:
    - "pip install ."
    - "make test"
matrix:
    allow_failures:
        - python: "2.6"
        - python: "pypy"
